<%- include extend/header_device.ejs %>
    <div class="wrapper" >
		<canvas id="canvas" width="1000px" height="500px"></canvas>
	</div>
	<div>
		<button id="randomizeData">Randomize Data</button>
		<button id="addDataset">Add Dataset</button>
		<button id="removeDataset">Remove Dataset</button>
		<button id="addData">Add Data</button>
		<button id="removeData">Remove Data</button>
	</div>
	<table id="table1"  class="display" cellspacing="0" width="100%">
		<thead>
            <tr style="color:#428bca">
	            <th>Item</th>
	            <th>Receive time</th>
	            <th>Data</th>

	            <% for(var i=0; i< fields.length;i++) { %>
	            	<th>
	            		<%= fields[i] %>
	            	</th>
	            <% } %>
            </tr>
        </thead>
	</table>
	<input type="hidden" id="mac" name="mac" value="<%= mac%>">
	<input type="hidden" id="type" name="type" value="<%= type%>">
	<input type="hidden" id="date" name="date" value="<%= date%>">
	<input type="hidden" id="option" name="option" value="<%= option%>">

	<HR size="10">

<%- include extend/footer %>