<%- include extend/header %>
		<div class="row">
			<div class="col-md-12 column">
				<div class="panel panel-primary">
					<div class="panel-heading"><span class="glyphicon glyphicon-edit"></span> 裝置設定欄</div>
					<div class="panel-body">
						<form id="editDevice" class="form-horizontal" action="" method="post">
							<fieldset>
								<!-- Name input-->
								<div class="col-md-6 column">
									<div class="form-group">
										<label class="col-md-3 control-label" for="name">裝置名稱</label>
										<div class="col-md-9">
										<input id="name" name="name" type="text" placeholder="請輸入裝置名稱"  class="form-control" required/>
										</div>
									</div>

									<!-- Email input-->
									<div class="form-group">
										<label class="col-md-3 control-label" for="email">裝置MAC</label>
										<div class="col-md-9">
											<input id="mac" name="mac" type="text" placeholder="請輸入裝置MAC" class="form-control" required/>
										</div>
									</div>
								</div>
								<div class="col-md-6 column">
									<!-- Type select-->
									<div >
										<label class="col-md-4 control-label" for="type">裝置類型</label>
										<div class="col-md-8">
											<select id="type_option" name="type_option" >
												<% if (maps) { %>
													<% for (let i=0; i < maps.length; ++i) { %>
														<option value="<%= maps[i]['deviceType'] %>"><%= maps[i]['typeName'] %> - <%= maps[i]['deviceType'] %></option>
													<% } %>
												<% } %>
												<!<--option value="aa10">水質檢測</option>-->
							                </select>
										</div>
									</div>
									<div class="form-group">
										<div class="col-md-12 widget-right">
											<!--<button type="button" onClick = "check()"class="btn btn-primary btn-md pull-right">新增裝置</button>-->

												<button type="button" id="edit" name="edit" class="btn btn-primary btn-sm" onClick="editCheck(this)">
													<span class="fa fa-pencil-square-o"></span> 編輯
												</button>
												<button type="button" id="del" name="del" class="btn btn-danger btn-sm " onClick="delCheck(this)">
													<span class="fa fa-times"></span> 刪除
												</button>
												<button type="submit" id="new" name="new" class="btn btn-success btn-md">
										    	 <span class="fa fa-plus pull-rightt"></span> 新增
												</button>

										</div>
										<input id="mode" name="mode" type="hidden" value="new">
										<input id="postMac" name="postMac" type="hidden"">
										<input id="typeString" name="typeString" type="hidden" value ="土壤溫濕度檢測" >
										<input id="units" name="units" type="hidden" value="<%= JSON.stringify(units)%>">


									</div>
								</div>

							</fieldset>
						</form>
					</div>
				</div>

			</div><!--/.col-->
			<% if (units.length>0) { %>
				<div class="col-md-12">
					<table class="table table-striped table-hover">
						<thead>
							<tr bgcolor="#428bca">
								<th>
									<div class="fa fa-2x" style="color:white;">項目</div>
								</th>
								<th>
									<div class="fa fa-2x" style="color:white;">裝置</div>
								</th>
								<th>
									<div class="fa fa-2x" style="color:white;">MAC</div>
								</th>
								<th>
									<div class="fa fa-2x" style="color:white;">裝置類型</div>
								</th>
								<th>
									<div class="fa fa-2x" style="color:white;">加入時間</div>
								</th>

							</tr>
						</thead>
						<tbody>

							<% for(var i = 0;i<units.length;i++) { %>
								<tr class="rows">
									<td>
										<%= (i+1) %>
									</td>
									<td>
										<%= units[i].name %>
									</td>
									<td>
										<%= units[i].macAddr %>

									</td>
									<td>
									<% if(units[i].typeString){ %>
										<%= units[i].typeString %>
									<% } %>
									</td>
									<td>
										<%= units[i].update_at.date %>
									</td>
								</tr>
							<% } %>

						</tbody>
					</table>

				</div> <!-- col-md-12-->
			<% } %>
		</div><!--/.row-->

<!-- （Modal） -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog"
   aria-labelledby="myModalLabel" aria-hidden="true">
   <div class="modal-dialog">
      <div class="modal-content">
         <div class="modal-header">
            <button type="button" class="close"
               data-dismiss="modal" aria-hidden="true">
                  &times;
            </button>
            <h4 class="modal-title" id="myModalLabel">
               刪除裝置警告
            </h4>
         </div>
         <div class="modal-body">
            確定刪除裝置嗎?
         </div>
         <div class="modal-footer">
            <button type="button" class="btn btn-default"
               data-dismiss="modal">關閉
            </button>
            <button type="button" onClick="toSubmit()" class="btn btn-danger">
               確定刪除
            </button>
         </div>
      </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->


<script class="code" type="text/javascript">
	$(document).ready(function () {
		/*setTimeout(function(){
		    //do what you need here
		    document.getElementById('error_message').innerText = '';
		}, 3000);*/
		$("#edit").hide();
		$("#del").hide();
	});
	var unitStr = document.getElementById('units').value;
	var unitList=JSON.parse(unitStr);


	/*$(document).on("click","tr.rows td", function(e){
	    alert(e.target.innerHTML);
	});*/
	$(function(){
        $('.rows').click(function(){
            var index = $(this).index();
            var unit = unitList[index];
            //alert('row index = '+  unitList[$row].name);
            $('#name').val(unit.name);
            $('#mac').val(unit.macAddr);
            var postMac = document.getElementById("postMac");
            postMac.value = unit.macAddr;

            //alert('row index = '+  unit.type);
            //$("type_option").val(unitList[index].type).change();
            $("#type_option").children().each(function(){
            	//alert('$(this).val() = '+  $(this).val());
			    if ($(this).val()==unit.type){
			        //jQuery給法
			        $(this).attr("selected", "true"); //或是給"selected"也可
			        var typeString = document.getElementById("typeString");
            		typeString.value = $(this).text();
			        //javascript給法
			        this.selected = true;
	    		}
			});


            //$("#"+this.value).removeAttr('disabled');
            //$("#"+this.value).attr('disabled','disabled');
            $('#mac').attr('disabled','disabled');
            $("#edit").show();
			$("#del").show();
			$("#new").hide();
	    });
    });


    /*var socket = io.connect();
	socket.on('connect',function(){
        socket.emit('setting_client','hello,setting_client socket cient is ready');
    });

    socket.on('setting_client_unitlist',function(data){
        //alert('name[0] :'+data[0].name);
        unitList = data;
    });*/

	$("form").submit(function () {
		var length = document.getElementById("mac").value.length;

	  	if( length !== 8 && length !== 16 ){
			alert('MAC字數為'+ length +' , 須為 8 或 16');
			return false;
		}else{
			$("#type_option").children().each(function(){
            	//alert('$(this).val() = '+  $(this).val() + ' -> '+$("#type_option").val());
			    if ($(this).val()==$("#type_option").val()){
			        //jQuery給法
			        $(this).attr("selected", "true"); //或是給"selected"也可
			        //alert(' $(this).text() : '+ $(this).text());
			        var typeString = document.getElementById("typeString");
            		typeString.value = $(this).text();
			        //javascript給法
			        this.selected = true;
	    		}
			});
			//alert($( "#type_option" ).val());
			if($( "#type_option" ).val() == 'd001'){
				socket.emit('setting_client_new',{mac:document.getElementById("mac").value});
			}
		}
	});

	function check(){
		if(document.getElementById("name").value == ""){
			alert("未輸入裝置名稱");
		}else if(document.getElementById("mac").value == ""){
			alert("未輸入裝置MAC");
		}else{
		    document.getElementById("editDevice").submit();
		}
	}

	function editCheck(button){

		$("#mode").val("edit");
		document.getElementById("editDevice").submit();
	}

	function delCheck(button){
		$("#mode").val("del");
		$('#myModal').modal('show');
	}

	function toSubmit(){
		$('#myModal').modal('hide');

		//alert($( "#type_option" ).val());
		if($( "#type_option" ).val() == 'd001'){
			socket.emit('setting_client_del',{mac:document.getElementById("mac").value});
		}
		document.getElementById("editDevice").submit();
	}
</script>
<%- include extend/footer %>